<!doctype html>
<html lang="cs-CZ">
    <head>
        <meta charset="utf-8" />
        <title>Panel rozhodčího</title>
    </head>
    <body>
        {% for team in teams %}
            <details>
                <summary style="cursor: pointer">
                {{ team.name }} <br>
                {{ team.school }}
                </summary>

                {% for problem in problems %}
                    <ul style="display: flex; justify-content: space-between; list-style: none;">
                        <li>{{ problem.name }}</li>

                        {% for solution in solutions %}
                            {% if solution.problem == problem and solution.team == team %}
                            <li>{{ solution.points }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            </details>
        {% endfor %}
    </body>
</html>