:root {
    --main_color: #1f648a;
    --secondary_color: #2985b8;
    --background_color: white;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-panel {
    margin-bottom: 10px;
    width: min-content;
}

.login-panel+label {
    font-size: 18px;
}

.background {
    background-color: var(--background_color);
    border: 2px solid var(--main_color);

    padding:30px
}

.splitter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1em;
    width: 100%;
}

.splitter-item {
    display: inline-block;
    margin: 0;
    padding: 0px;
    flex: 1;
    min-width: 400px;
}

.problems {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
    margin-bottom: 2em;
    width: 100%;
}

.problem {
    text-align: center;
    padding: 10px;
    margin: 5px;
    
    color:var(--background_color);
    text-decoration: none;
}

.problem-item {
    display: inline-block;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    border: 3px solid var(--main_color);
    border-radius: 40%;
}

.problem-wide {
    margin-right: 7px;
}

.problem-solved {
    background-color: var(--main_color);
}

.div-link {
    display: block;
}

.solved {
    background-color: green;
}

.unsolved {
    background-color: red;
}

.left, .right {
    float: left;
    margin:5px;
    width: 40%;
    max-height: 100vh - 100px;
}

.large {
    font-size: 32px;
    margin: 5px;
}

.medium {
    font-size: 24px;
    margin: 0px;
}

.main {
    float: left;
    margin: 5px;
    width: 50%;
    padding: 10px;

    height: 80vh;

    background: var(--background_color);
    border: 3px solid var(--main_color);
    border-radius: 10px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.container {
    width:90%;
    height:90%;

    margin:50px;
}

.center-absolute {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
    text-align: center;
}

.vertical_center {
    text-align: center;
    line-height: 20px;
}

.team {
    margin-bottom: 10px;
    margin-left: 10px;
}

.radio-toolbar input[type="submit"] {
    font-size: 28px;
    width: 92%;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-size: 28px;
    cursor: pointer;

    width:90%;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #bbb;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%;

        padding: 0px;
        margin: 0px;
    }

    .left {
        text-align: center;
    }

    .container {
        width: 100%;
        height: 100%;

        margin:0px;
    }
}