.splitter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1em;
    width: 100%;
}

.splitter-item {
    display: inline-block;
    margin: 0;
    padding: 0px;
    width: 50%;
    min-width: 300px;
}

.div-link {
    display: block;
}