<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volgiáda</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body style="background-image: url({% static 'background.jpg' %});">
    <div id="container" class="container">
        <div id="sidebar" class="left">
            <picture>
                <source srcset="{% static 'logo_wide.jpeg' %}" media="(max-width: 800px)">
                <source srcset="{% static 'logo.jpeg' %}" media="(max-width: 1500px)">
                <img src="{% static 'logo.jpeg' %}" alt="logo" style="width: 90%">
            </picture> 
        </div>
        
        <iframe src="leaderboard/" class="main"></iframe> 
    </div>
</body>
</html>