<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volgiáda</title>
</head>

<body>
    {% if isFrozen %}
        <!-- Display a text that the results are frozen -->
        <p>Konec soutěže se blíží! Tyto výsledky jsou zmražené a nejsou finální.</p>
    {% endif %}

    {% if teams %}
        <ul>
            {% for team in teams %}
                <li>{{ team.name }}, {{ team.school }} {{ team.count_points }}</li>
            {% endfor %}
        </ul>
    {% else %}
        No teams registered
    {% endif %}
</body>
</html>