<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel rozhodčího</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="splitter">
        {% for team in teams %}
        <a class="splitter-item" href="team/{{ team.id }}" id="team {{ team.id }}">      
            <h1>{{ team.name }}</h1>
            <h2>{{ team.school }}</h2>
        </a>
        {% endfor %}
    </div>
</body>
</html>