<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlašovací údaje</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 90vh;">
        <div>
            <div id="qrcode" style="float: left;"></div>
            <script type="text/javascript">
                new QRCode(document.getElementById("qrcode"), window.location.href.replace('credentials/', ''));
            </script>
            <div style="float: right; margin-left: 30px;">
                <h1>Přihlašovací údaje</h1>
                <ul>
                    <li><b>rozhodci1</b> hesloheslo</li>
                    <li><b>rozhodci2</b> hesloheslo</li>
                    <li><b>rozhodci3</b> hesloheslo</li>
                    <li><b>rozhodci4</b> hesloheslo</li>
                    <li><b>rozhodci5</b> hesloheslo</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>