<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ team.name }}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <a href="../..">Zpět</a><br />
    {{ team }}

    <div class="splitter">
        {% for problem in problems %}
            {% if problem.solution != None %}
                <a class="problem splitter-item solved" href="{{ problem.link }}" id="problem {{ problem.problem.number }}">      
                    Úloha {{ problem.problem.number }}: {{ problem.problem.name }}
                    {{ problem.solution.points }}
                </a>
            {% else %}
                <a class="problem splitter-item unsolved" href="{{ problem.link }}" id="problem {{ problem.problem.number }}">      
                    Úloha {{ problem.problem.number }}: {{ problem.problem.name }}
                    Nevyřešena
                </a>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>